<div class="row">
  <div class="col-xs-5">
    <div class="brands">
      <div id="redbull" class="brand">
      </div>
    </div>
    <div class="brands">
      <div id="EF" class="brand">
      </div>
    </div>
    <div class="brands">
      <div id="win8" class="brand">
      </div>
    </div>
  </div>
  <div class="col-xs-2" style="text-align: center;"> 
    <h1>In exchange for</h1>
  </div>
  <div class="col-xs-5">
    <div class="rewards">
      <%= image_tag "spotify-logo.png" %>
    </div>
    <div class="rewards">
      <%= image_tag "netflix-logo.png" %>
    </div>
    <div class="rewards">
      <%= image_tag "evernote-logo.png" %>
    </div>
  </div>
</div>